.FeedDetail{
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-basis: 480px;
  background-color: #fff;
  order: 2;
  flex-grow: 1;
  min-width: 300px;
  flex-direction: column;
  font-size: 16px;
  overflow-y: hidden;
  overflow-x: hidden;
  //130 for min window width #00adb5
}
.FeedDetailToolbar{
  flex-shrink: 0;
  height: 40px;
  width: 100vw;
  background-color: white;
  border-bottom: 0.1px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'OpenSans-Regular';
}

.FeedDetailContainer{
  margin: 15px 15px;
  display: flex;
  font-family: "OpenSans-Regular";
  flex-direction: column;
  overflow-x: hidden;
  a{
    font-family: 'OpenSans-Regular';
    text-decoration: none;
    color:#2c8eff;
  }
  p{
    font-family: 'OpenSans-Regular';

  }
  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
  } 
  small{
    font-family: 'OpenSans-LightItalic';

  }
}

.FeedTitle{
  font-family: 'OpenSans-Bold';
  font-size: 26px;
}

.FeedDateAuthor{
  font-family: 'OpenSans-Italic';
  font-size: 15px;
  color:#222;
  margin: 10px 0;
}
.FeedContent{
  color:#222;
}

.ItemIcon{
  margin-right: 3px;
  margin-left: 10px;
}
.Source{

  font-size: 14px;
  color: #ff5e00
  

}

.SourceContainer{
  display: flex;
  align-items: center;
}