.FeedDetail{
  display: flex;
  height: 100vh;
  flex-basis: 480px;
  background-color: #fff;
  order: 2;
  flex-grow: 1;
  min-width: 300px;
  box-shadow: 37px 0px 85px -26px rgba(166,166,166,1);

  //130 for min window width #00adb5
}