.Sidebar{
  height: 100vh;
  flex-basis: 220px;
  background-color: #fff;
  order: 0;
  flex-shrink: 0;
  color:#000;
  font-weight: 350;
  font-size: 14px;
  font-family: "Whitney-Medium";
  font-weight: 500;
  box-shadow: 11px 0px 60px -26px rgba(0,0,0,0.08);
  z-index: 3;
  overflow-y: auto;
    nav{
      ul{
        padding: 0px;
        margin: 0px;
      }
    }
}
  
.Brand{
  display: flex;
  align-items: center;
  justify-content: left;
  height:70px;
  font-weight: bold;
  font-size: 22px;
  font-family: "Whitney-BoldSC";
  margin-left: 15px;

}
.Logo{

  margin: 0 15px 0 5px;
}

.Sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.Sidebar::-webkit-scrollbar-track {

  border-radius: 0px;
}
 
/* Handle */
.Sidebar::-webkit-scrollbar-thumb {
  background: #38f9d7; 
  border-radius: 0px;
}