
@font-face {
  font-family: 'Whitney-BoldSC';
  src: local('Whitney-BoldSC'), url(./assets/fonts/Whitney-BoldSC.otf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Bold';
  src: local('Whitney-Bold'), url(./assets/fonts/Whitney-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Black';
  src: local('Whitney-Black'), url(./assets/fonts/Whitney-Black.ttf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Book';
  src: local('Whitney-Book'), url(./assets/fonts/Whitney-Book.ttf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Light';
  src: local('Whitney-Light'), url(./assets/fonts/Whitney-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Medium';
  src: local('Whitney-Medium'), url(./assets/fonts/Whitney-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Whitney-Semibold';
  src: local('Whitney-Semibold'), url(./assets/fonts/Whitney-Semibold.ttf) format('opentype');
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./assets/fonts/WorkSans.ttf) format('opentype');
}
